In [1]:
import pandas as pd
import matplotlib as plt
import numpy as np
import seaborn as sns

Q1. Pandas version 
What's the version of Pandas that you installed?

In [ ]:
pd.__version__

Q2. Records count
How many records are in the dataset?

In [22]:
df = pd.read_csv('laptops.csv')
df.shape

(2160, 12)

Q3. Laptop brands
How many laptop brands are presented in the dataset?

In [78]:
df["Brand"].nunique()

27

Q4. Missing values
How many columns in the dataset have missing values?

In [19]:
df.isnull().sum()

Laptop             0
Status             0
Brand              0
Model              0
CPU                0
RAM                0
Storage            0
Storage type      42
GPU             1371
Screen             4
Touch              0
Final Price        0
dtype: int64

Q5. Maximum final price
What's the maximum final price of Dell notebooks in the dataset?

In [23]:
df[df["Brand"] == "Dell"]["Final Price"].max()

3936.0

Q6. Median value of Screen

In [24]:
df["Screen"].median()

15.6

In [32]:
df['Screen'].mode()

0    15.6
Name: Screen, dtype: float64

In [38]:
df1 = df['Screen'].fillna(15.6)
df1.median()

Q7. Sum of weights

In [48]:
df2 = df[df["Brand"] == "Innjoo"][['RAM', 'Storage', 'Screen']]
df2

      RAM  Storage  Screen
1478    8      256    15.6
1479    8      512    15.6
1480    4       64    14.1
1481    6       64    14.1
1482    6      128    14.1
1483    6      128    14.1

In [77]:
X = np.array(df2)
XTX = X.T @ X
y = np.array([1100, 1300, 800, 900, 1000, 1100])
w = (np.linalg.inv(XTX) @ X.T) @ y
sum(w)

91.29988062995588